@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Science+Gothic:wght@100..900&display=swap');
:root {
    --nav-bar-color: #e7e7fe;
    --primary-color: #f7ccdb;
    --secondary-color: #6667ab;
    --terciary-color: #7b337e;
    --quaternary-color: #420d4b;
    --quinary-color: #210635;
    --font-family: "Oswald", sans-serif;
    
}

h1 {
    font-family: 'Verdana', sans-serif;
    color: var(--quaternary-color);
    cursor: pointer;
}
#logo-image img {
    width: 100px;
    height: auto;
    cursor: pointer;
}

body {
    color: var(--quinary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, var(--primary-color), var(--nav-bar-color));
}
header {
    display: flex;
    align-items: center;
    position: sticky;
    left: 6%;
    top: 0;
    width: 85%;
    height: 80px;
    /* border-radius: 16px; */
    padding: 15px;
    margin-bottom: 40px;
    background: linear-gradient(to right, var(--primary-color), var(--nav-bar-color));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
}
#header-content {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
}
#logo-image-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
#cart-icon {
    background: none;
    border: none;
    cursor: pointer;
}

.product-image {
    margin: 16px;
    width: 250px;
    height: auto;
    border-radius: 8px;
}

#cart-container img {
    width: 150px;
    height: auto;
}
.quantity-controls{
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
#cart-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 100px;
    right: 150px;
    width: 500px;
    max-height: 1000px;
    overflow-y: auto;
    background:linear-gradient(to left, var(--primary-color), var(--nav-bar-color));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
    z-index: 11;
}
#cart-buttons-container {
    display: flex;
    justify-content: space-between;
}
#total-cart-price {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow:rgba(0, 0, 0, 0.1) 0px 4px 8px;
    border-radius: 10px;
    padding: 10px 0;
}
#empty-cart-message {
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 20px 0;
}
#cart-container.hidden {
    display: none;
}   


/* Loader error styles desde acá */
#error-container.hidden {
    display: none;
}
#error-container {
    position: fixed;
    top: 30%;
    width: 700px;
    height: 200px;
    z-index: 300; /* Así siempre va a estar arriba de todo, por eso un número alto igual que el loader */
    background-color: var(--nav-bar-color);
    border: 2px solid var(--quaternary-color);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.error-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 20px;
}
#error-message {
    font-size: 32px;
    color: var(--quinary-color);
    font-weight: bold;
}
#error-container .error-buttons-container {
    display: flex;
    justify-content: space-between;
}
.error-buttons {
    background-color: var(--terciary-color);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
.error-buttons:hover {
    background-color: var(--quaternary-color);
}


/* Loader error styles hasta acá */
/* 
    Styles del loader: desde acá
    Mati si ves esto, lo saque de internet porque me parecia muy aburrido 
hacer un spinner normal y no hay tanto tiempo para configurar a mano esto jaja
*/
.loader.hidden {
    display: none;
}
/* HTML: <div class="loader"></div> */
#loader-container {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 300; /* Así siempre va a estar arriba de todo, por eso un número alto */
}
.loader {
    width: 150px;
    aspect-ratio: 1;
    border-radius: 50%;
    color: var(--quinary-color);
    border: 4px solid;
    box-sizing: border-box;
    position: relative;
    transform-origin: left;
    animation: l2 1s infinite linear;
}
.loader::before,
.loader::after {
    content: "";
    position: absolute;
    inset: 0 0 auto;
    margin: auto;
    width: 50%;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 4px solid;
    box-sizing: content-box;
    transform-origin: 50% calc(100% - 4px);
    animation: inherit;
}
.loader::after {
    inset:auto 0 calc(100% + 2px);
    animation-duration: 0.5s;
    animation-direction: reverse;
    transform-origin: 50% calc(200% - 2px);
}
@keyframes l2{
    100% {transform:rotate(1turn)}
}
/* 
    Styles del loader: hasta acá
*/

button {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
}
button:hover {
    background-color: var(--terciary-color);
}
#clear-cart-button.hidden {
    display: none;
}
.remove-from-cart.hidden {
    display: none;
}
.add-to-cart.hidden {
    display: none;
}
.add-more-to-cart.hidden {
    display: none;
}

#stock-error-container.hidden {
    display: none;
}
#stock-error-container {
    display: flex;
    position: fixed;
    top: 30%;
    width: 500px;
    height: 200px;
    z-index: 300;
    background-color: var(--nav-bar-color);
    border: 2px solid var(--quaternary-color);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.stock-error-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 20px;
}
#stock-error-message {
    font-size: 24px;
}
.stock-error-buttons {
    color: white;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
#purchase-button:disabled {
    background-color: #be7b7b;
    cursor: not-allowed;
    opacity: 0.6;
}
#products-container {
    display: flex;
    font-family: var(--font-family);
    flex-wrap: wrap;
    width: 87%;
    gap: 40px 4px;
    justify-content: center;
    justify-content: space-evenly;
    margin-bottom: 40px;
}
.product-info {
    font-size:large;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-info h3 {
    font-size: x-large;
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.product{
    box-shadow: inset 0 8px 16px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    padding: 10px;
    width: 300px;
    text-align: center;
}
@keyframes hoverEffect {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
}
.product:hover {
    animation: hoverEffect 0.2s forwards;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px;
    background-color: rgba(255, 255, 255, 0.241);
}
.product-buttons {
    border-top: white 1px solid;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}